@import "tailwindcss";

@theme inline {
  --color-primary-base: #ff6600;
  --color-primary-muted: #ffefe5;
  --color-black-base: #242424;
  --color-black-muted: #54595f;
  --color-red-base: #e22d2d;
  --color-secondary-muted: #f9f9f9;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.container {
  @apply max-w-[1200px] px-2 md:px-3 xl:px-4 mx-auto;
}

body {
  background: #fff;
}
