@import "tailwindcss";

@theme inline {
  --color-primary-base: #064c50;
  --color-primary-muted: #fc87340c;
  --color-black-base: #242424;
  --color-black-muted: #7A7A7A;
  --color-red-base: #e22d2d;
  --color-secondary-muted: #f9f9f9;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.container {
  @apply max-w-7xl px-2 md:px-3 xl:px-4 mx-auto;
}

body {
  background: #fff;
}

.global-input {
  @apply focus:outline-primary-base w-full px-3 py-2 border border-gray-200 placeholder:text-sm text-black-base rounded-full mt-1;
}